apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "monitoring-stack.fullname" . }}-extra-ds
  labels:
    grafana_datasource: "1"
    {{- include "monitoring-stack.labels" . | nindent 4 }}
data:
  prometheus-external.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus-Ext
        type: prometheus
        url: https://prometheus-external.example.com
        access: proxy
        isDefault: false
        jsonData:
          timeInterval: 30s